header{
	font-size: 70px;
	color: burlywood;
}

h1{
	font-size: 100px;
	color: yellowgreen;
	}

div{
	border-color: blanchedalmond;
	background-color: mediumseagreen;
	width: 300px;
	padding: 50px;
	border: 15px black;
	margin: 30px;
	
}	